/* Fundo elegante */
.login-background {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #4c6ef5, #228be6);
  font-family: sans-serif;
}

/* Card centralizado */
.login-card {
  background: white;
  padding: 28px;
  width: 320px;
  border-radius: 14px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 14px;
  animation: fadeIn 0.4s ease-out;
}

/* Animação leve */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.login-title {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #1f2937;
}

/* Inputs */
.login-input {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.login-input:focus {
  border-color: #4c6ef5;
  box-shadow: 0 0 0 3px rgba(76,110,245,0.25);
}

/* Botão */
.login-button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #4c6ef5;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background: #364fc7;
}


.navbar {
  display: flex;
  gap: 20px;
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: 0.2s ease;
}

.nav-link:hover {
  background: #ddd;
}

/*Reserva*/
.card-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #45a049;
}